    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    a {
        text-decoration: $textdecoration;
        color: rgb(108, 107, 110);
    }
    
    body {
        font-family: $fontfamily;
        color: $color;
        font-size: $size;
        margin: 20px 40px 20px 40px;
    }

    .curriculum, .section_imagen_cv, .formacion, .cursos, .experiencia_laboral {
        display: none;
    }

        /* navbar */

    .bkc{
        color: rgba(108, 107, 110, 0.358);
    }
    
    .bg{
        background-color:rgb(240, 237, 239) ;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .logo{
        color: rgb(86, 85, 87);
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
    }

    header{
        background-color: $bgheaderyf;
        border-radius: 20px;
        margin-bottom: 15px;
    }
    .desktop{
        display: none;
    }

    /* main cv */

        .barrasubt{
        background-color: $colorsubt;
    }

    .border{
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 4px;
        font-weight: bold;
        border-radius: 10px;
        margin-top: 20px;
        border: none;
        padding-top: 5px;
        background-color: rgba(154, 136, 124, 0.107);
        height: $alto/2;
    }

    .justify{
        text-align: justify;
    }

    .card{
        margin-bottom: $alto/4;
    }

    .fotoperfilcv{
        margin-top: 10px;
    }

    .licv{
        list-style: none;
    }

    /* main obras */

    .mainobrassegmq{
        display:none;
    }

    /* footer */
    
    .logo{
        grid-area: logo;
        text-align: center;
        margin: 5px;
        font-size: 30px;
    }

    .redessociales{
        grid-area: redessociales;
        margin: 5px;
    }

    .derechos{
        grid-area: derechos;
        font-size: 15px;
        margin: 5px;
        font-family: 'Montserrat', sans-serif;
    }

    footer {
        display: grid;
        background-color: rgba(86, 85, 87, 0.475);
        color: rgb(240, 237, 239);
        padding: 10px;
        border-radius: 20px;
        font-family: 'Montserrat', sans-serif;
        grid-template-areas:
        "logo logo logo"
        "redessociales redessociales redessociales"
        "derechos derechos derechos";
        gap: 5px;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 40% auto auto;
        margin-bottom: 0;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }

    footer .mobile a{
        margin: 10px;
        color: white;
        font-weight: bold;
    }

    .pfootermobile{
        color: white;
    }
    
    .multimedia{
        margin: 0 0 20px 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 560px;
        text-align: justify;
    }
    
    .subtitulo {
        font-family: 'Montserrat', sans-serif;
        height: 40px;
        letter-spacing: 4px;
        font-weight: lighter;
        padding: 2px 2px 0px 2px;
        text-align: center;
        border-radius: 10px;
        width: 100vw;
        margin: 5px;
        background-color: rgba(154, 136, 124, 0.107);
    }

    .sections_info h2 {
        margin-bottom: 10px;
        font-weight: bolder;
    }

    .contacto article h3 {
        text-align: center;
    }
    
    .contacto {
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 500px;
    margin-top: 10px;
    background-color: rgba(255, 255, 0, 0.511);
    justify-content: center;
    }
    
    .mixinUno{
        @include size (100px, 800px);
    }

    .consulta{
        margin-top: 30px;
    }

    .datos_contacto{
        margin-top: 60px;
        margin-bottom: 20px;
    }
    
    .datos_contacto button{
        color: white;
        border: 1px solid white;
        display: inline;
        padding: 20px;
        background-color: $colorsubt;
        border-radius: 10px;
    }
    
    .mail{
        display: block;
    }

    .muestras{
        margin-left: 20px;
    }




